:root {
  --header-color: rgb(16, 16, 101);
  --accent-color: rgb(32, 122, 255); /* яскравіший синій */
  --light-color: #f0f4ff; /* світле тло */
  --text-color: #1a1a1a; /* темний текст */
  --border-radius: 8px;
  --transition: 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
